.CartShop_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.CartShop_Card{
    height: 100px;
    width: 600px;
    display: flex;
    /* flex-direction: column; */
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}
.CartShop_head{
    margin: 10px 10px;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10px ;
    border-right: 2px solid rgba(0, 0, 0, 0.315);
}
.CS_img{
    height: 100%;
}
.CS_title{
    color: rgb(255, 255, 255) ;
    font-size: 1.2rem;
    font-weight: 700;
}
.CS_body{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CS_price{
    font-size: 1.6rem;
    font-weight: 700;
}
.CS_quantity{
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid white;
}
.CS_buttons{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* margin: 10px 0; */
}
.CS_buttons > button{
    color: white;
    background-color: rgb(62, 99, 100);
    font-size: 1rem;
    text-transform: uppercase;
    height: 40px;
    width: 80px;
    border-radius: 15px;
    /* flex: 1; */
}
.CS_clear{
    width: 100px;
    height: 70px;
    background-color:rgba(252, 69, 69, 0.863);
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;
    border-radius: 30px;

}